@import "./variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}

#app {
  font-family: sans-serif;
}

.header {
  padding: 2rem;
  background: var(--primary-bg);
} 

.nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.container {
  padding: 2rem;
  height: 80vh;
  display: flex;
}

.main {
  margin-left: 2rem;
}

.banner__title {
  font-size: 1.7rem;
  font-family: 'Courier New', Courier, monospace;
  color: orchid;
  font-weight: 700;
  text-shadow: 3px 4px 2px pink; 

}

.banner {
  width: 15rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  background: darkmagenta;
  color : white;
  border: none;
  border-radius: .5rem;
  font-size: 1.1rem;
  margin-top: 2rem;
  padding:.4rem 2rem;
}

.footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
<<<<<<< HEAD
} 
body {
  background-color: #9f9da7;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}

h2 {
  font-weight: 300;
  text-align: center;
}

p {
  position: relative;
}

a,
a:link,
a:visited,
a:active {
  color: #3ca9e2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#login-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #3ca9e2;
}
input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}
input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation {
  display: block;
  border-color: #0C0;
}
input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span {
  background: #0C0;
  position: absolute;
  border-radius: 6px;
}
input[type="text"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
input[type="text"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.validation {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
=======
}


.footer__title {
  color: aliceblue;
  font-size: 1.2rem;
}

@media (max-width:320px) {
  .header , .footer , .button {
    background: darkcyan;
  }
  
  .nav {
    width: 100%;
   flex-direction: column;
  }

  .nav-link {
    display: flex;
    margin-top: 1rem;
    justify-content: center  ;
  }

  .nav-link:first-child {
    margin-top: 0;
  }
  
  .container {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .input {
    width: 100%;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid darkcyan;
    padding: .2rem;
  }

  .main {
    margin-left: 0;
    margin-top: 2rem;
    justify-content: center;
  }

  .banner {
    width: 100%;
  }

  .footer__title {
    font-size: 1rem;
  }

}

/* * Add : 
  filters (checkboxes , radio-buttons, range , etc.)  ,   
  main-content (more products)
  footer (add social-media)
*/

/* Nazar from 320px to 576px */
/* Alex from 576px to 768px */
/* Evgenia from 768px to 1200px */
/* Lera from 1200 > */



@media (max-width:576px) {

  .header , .footer , .button {
    background: rgb(15, 41, 170);
  }
  
  .nav {
    width: 100%;
   flex-direction: column;
  }

  .nav-link {
    display: flex;
    margin-top: 2rem;
    justify-content: center  ;
  }

  .nav-link:first-child {
    margin-top: 0;
  }
  
  .container {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
  }

  .input {
    width: 100%;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid rgb(78, 100, 199);
    padding: .2rem;
  }

  .main {
    margin-left: 0;
    margin-top: 2rem;
    justify-content: center;
  }

  .banner {
    width: 100%;
  }

  .footer {
    margin-top: 120px;
  }

  .footer__title {
    font-size: 1rem;
  }
>>>>>>> master
}