// variables

// BG
$primary-bg-color : darkcyan ;
$secondary-bg-color : rgb(50, 123, 123) ;
$third-bg-color : rgb(0, 100, 100) ;

// Text color 
$primary-text-color : aliceblue ;
$secondary-text-color : wheat ;
$third-text-color : whitesmoke ;

// P 
$padding-xl : 3rem ;
$padding-l : 2rem ;
$padding-m : 1rem ;
$padding-s : .8rem ;

// M 
$margin-xl : 3rem ;
$margin-l : 2rem ;
$margin-m : 1rem ;
$margin-s : .8rem ;


// Font-size
$font-size-xl : 3rem ;
$font-size-l : 2rem ;
$font-size-m : 1rem ;
$font-size-s : .8rem ;